html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../style//fonts/lato-v17-latin-regular.woff2') format('woff2'),
    url('../style/fonts/lato-v17-latin-regular.woff') format('woff');
}
